@using Microsoft.AspNetCore.Identity
@using BlogTemplate.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
       <a asp-page="/Account/Manage/Index">Owner Settings</a>
       <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
}
else
{
       <a asp-page="/Account/Login">Log in</a>
}
