@using Microsoft.AspNetCore.Identity
@using BlogTemplate._1.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav"><a asp-page="/New">New Post</a></li>
    <li class="nav"><a asp-page="/Drafts">Drafts</a></li>
    <li class="nav"><a asp-page="/Trash">Trash</a></li>
    <li class="nav"><a asp-page="/Account/Manage/Index">Owner Settings</a></li>
    <li class="nav">
        <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
            <button type="submit" class="btn btn-link navbar-btn navbar-link"><span class="glyphicon glyphicon-log-out"></span> Log out</button>
        </form>
    </li>
}
else
{
    <li class="nav">
        <a asp-page="/Account/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
    </li>
}
