@page
@model AlreadyRegisteredModel
@{
    ViewData["Title"] = "Already Registered";
}

<h1>An owner with this blog is already registered. Please log in with the registered credentials or visit the blog as a guest.</h1>
