@page
@model DraftsModel
@{
    ViewData["Title"] = "Drafts";
    <h2>@ViewData["Title"]</h2>

    if (!Model.Posts.Any())
    {
        <p>View and edit your saved drafts here.</p>
    }

    else
    {
        foreach (var post in Model.Posts)
        {
            <article>
                <h2><a href="/edit/@post.Id/@post.Slug">@post.Title</a></h2>
                <p class="lead">@post.Excerpt</p>
            </article>
        }
    }
}
