@page
@model DraftsModel
@{
    ViewData["Title"] = "Drafts";
}
<h2>@ViewData["Title"]</h2>

<p>This is where you go to edit drafts.</p>
@{
    foreach (var post in Model.Posts)
    {
        <article>
            <h2><a href="/edit/@post.Slug">@post.Title</a></h2>
            <p>@post.Excerpt</p>
        </article>
    }
}
