@page "{id}/{slug}"
@using BlogTemplate
@using BlogTemplate.Models
@model EditModel
@using Microsoft.AspNetCore.Mvc.RazorPages
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@{
    ViewData["Title"] = "Edit Post";
}

<article>
    <h2>Edit Post</h2>
    <form method="post" id="editpost">
        <div asp-validation-summary="All"></div>
        @if (TempData["notice"] != null)
        {
            <h3>@TempData["notice"]</h3>
        }
        <div class="form-group">
            <div class="col-md-6">
                <label for="Title">Title</></label>
                <input type="text" class="form-control" placeholder="" asp-for="newPost.Title" data-oldtitle="@Model.oldPost.Title" />
                <span asp-validation-for="newPost.Title" class="invalid"></span>
            </div>
        </div>
        <input type="hidden" name="updateslug" id="updateslug" value="false" />
        <div class="col-md-12">
            <div class="form-group">
                <label for="Body" class="primaryField">Body</label>
                <textarea class="form-control" placeholder="" asp-for="newPost.Body"></textarea>
                <span asp-validation-for="newPost.Body" class="invalid"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="Excerpt" class="secondaryField">Excerpt (Optional)</label>
                <textarea class="form-control" placeholder="" asp-for="newPost.Excerpt"></textarea>
            </div>
        </div>
        <div class="col-md-12">
            <input type="submit" name="save" class="btn btn-primary btn-sm" value="Save Draft" asp-page-handler="SaveDraft" />
            <input type="submit" name="publish" class="btn btn-primary btn-sm" value="Publish" asp-page-handler="Publish" />
        </div>
        <div class="col-md-12">
            <p><a href="/Index">Cancel</a></p>
        </div>
    </form>
</article>

@section Scripts {
    <script src="~/js/slugUpdateWarning.js"></script>
}
