@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";

    foreach (var post in Model.Blog.Posts)
    {
        if (post.IsPublic)
        {
            <article>
                <h2><a href="/post/@post.Slug">@post.Title</a></h2>
                <p id="date">@post.PubDate.ToLocalTime().ToShortDateString()</p>
                <p>@post.Excerpt</p>
            </article>
        }
    }
}
