@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";

    if (!Model.PostSummaries.Any())
    {
        <div class="jumbotron">
            <h1>Welcome!</h1>
            <p>Get started and write your first blog post <a class="text-primary" href="/New">here</a>.</p>
            <p>Happy blogging!</p>
        </div>
    }

    else
    {
        foreach (var post in Model.PostSummaries)
        {
            <article>
                <div class="col-md-12">
                    <h2><a href="/post/@post.Id.ToString("N")/@post.Slug">@post.Title</a></h2>
                    <h5 class="date text-muted">@post.PublishTime.ToString("MMM dd, yyyy")</h5>
                    <p class="lead">@post.Excerpt</p>
                    <h3><a href="/post/@post.Id.ToString("N")/@post.Slug"><span class="glyphicon glyphicon-comment"></span> @post.CommentCount</a></h3>
                </div>
            </article>

        }
    }
}
