@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";

    if (!Model.PostSummaries.Any())
    {
        <h3>Welcome!</h3>
        <p>Get started and write your first blog post <a href="/New">here.</a></p>
        <p>Happy blogging!</p>
    }

    else
    {
        foreach (var post in Model.PostSummaries)
        {
            <article>
                <div class="col-md-12">
                    <h2><a href="/post/@post.Id/@post.Slug">@post.Title</a></h2>
                    <h5 class="date text-muted">@post.PublishTime.ToString("MMM dd, yyyy")</h5>
                    <p>@post.Excerpt</p>
                    <p><a href="/post/@post.Id/@post.Slug"><span class="glyphicon glyphicon-comment"></span> @post.CommentCount</a></p>
                </div>
            </article>

        }
    }
}
