@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";

    foreach (var post in Model.PostSummaries)
    {
        <article>
            <h2><a href="/post/@post.Slug">@post.Title</a></h2>
            <p class="date">@post.PublishTime.ToLocalTime().ToShortDateString()</p>
            <p>@post.Excerpt</p>
            <p class="commentCount"><a href="/post/@post.Slug">@post.CommentCount</a></p>
        </article>
    }
}
