@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";

    if (!Model.PostSummaries.Any())
    {
        <h3>Welcome!</h3>
        <p>Get started and write your first blog post <a href="/New">here.</a></p>
        <p>Happy blogging!</p>
    }

    else
    {
        foreach (var post in Model.PostSummaries)
        {
            <article>
                <h2><a href="/post/@post.Id/@post.Slug">@post.Title</a></h2>
                <p class="date">@post.PublishTime.ToString("MMM dd, yyyy")</p>
                <p>@post.Excerpt</p>
                <p class="commentCount"><span class="glyphicon glyphicon-comment"></span><a href="/post/@post.Slug">@post.CommentCount</a></p>
            </article>

        }
    }
}
