@page
@using BlogTemplate
@using BlogTemplate.Models
@model NewModel
@using Microsoft.AspNetCore.Mvc.RazorPages
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@{
    ViewData["Title"] = "New Blog Post";
}

<h2>Write a New Post</h2>
<form method="POST" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <div class="col-md-6">
            <label for="Title">Title</></label>
            <input type="text" class="form-control" placeholder="" asp-for="Post.Title" />
            <span asp-validation-for="Post.Title" class="invalid"></span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="Body" class="primaryField">Body</label>
            <textarea class="form-control" placeholder="" asp-for="Post.Body"></textarea>
            <span asp-validation-for="Post.Body" class="invalid"></span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="Excerpt" class="secondaryField">Excerpt (Optional)</label>
            <textarea class="form-control" placeholder="" asp-for="Post.Excerpt"></textarea>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label>Upload Files</label>
            <input type="file" name="files" multiple />
        </div>
    </div>
    <div class="col-md-12">
        <input type="submit" name="save" class="btn btn-primary btn-sm" value="Save Draft" asp-page-handler="SaveDraft" />
        <input type="submit" name="publish" class="btn btn-primary btn-sm" value="Publish" asp-page-handler="Publish" />
    </div>
</form>
