@page
@using BlogTemplate
@using BlogTemplate.Models
@inject Blog Blog
@model NewModel
@using Microsoft.AspNetCore.Mvc.RazorPages
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@{
    ViewData["Title"] = "New Blog Post";
    string tagsString;
    if (Model.Post != null)
    {
        tagsString = string.Join(", ", Model.Post.Tags);
    }
    else
    {
        tagsString = string.Empty;
    }
}

<h2>Write a New Post</h2>
<form method="POST">
    <div asp-validation-summary="All"></div>
    <label for="Title" class="primaryField">Title</></label>
    <br />
    <input type="text" placeholder="" name="Title" asp-for="Post.Title" />
    <span asp-validation-for="Post.Title" class="invalid"></span>
    <br />
    <label for="Body" class="primaryField">Body</label>
    <textarea name="Body" placeholder="" asp-for="Post.Body"></textarea>
    <span asp-validation-for="Post.Body" class="invalid"></span>
    <br />
    <label for="Excerpt" class="secondaryField">Excerpt (Optional)</label>
    <textarea name="Excerpt" asp-for="Post.Excerpt"></textarea>
    <br />
    <label for="Tags" class="secondaryField">Tags (separated by comma)</label>
    <br />
    <input type="text" name="Tags" asp-for="@tagsString"/>
    <br />
    <input type="submit" name="save" value="Save Draft" asp-page-handler="SaveDraft" />
    <input type="submit" name="publish" value="Publish" asp-page-handler="Publish" />
</form>
