@page "{slug}"
@model PostModel

@{
    ViewData["Title"] = Model.Post.Title;
}

<article>
    <h1>@Model.Post.Title</h1>
    <p id="date">@Model.Post.PubDate.ToString("MMM dd, yyyy")</p>
    <span>@string.Join(", ", Model.Post.Tags)</span>
    <p>@Model.Post.Body</p>
    <p>Comments</p>
    <p></p>
</article>