:root {
    --link-color: dodgerblue;
    --nav-color: #6abffb;
    --content-color: #141414;
    --hover-color: #7f7f7f;
    --line-color: #cccccc;
    --light-color: darkgrey;
    --button-border-color: palegoldenrod;
    --delete-color: #fc88b6;
    --invalid-color: red;
}
