footer {
    margin-top: 50px;
}

.delete-header {
    color: black;
}

.navbar-header h2 {
    padding-left: 15px;
}

.date-preview {
    font-family: "News Cycle","Arial Narrow Bold",sans-serif;
    font-weight: 700;
    line-height: 1.1;
    margin-top: 10.5px;
    margin-bottom: 10.5px
}

.cancel-link {
    padding-top: 10px;
}

.add-comment-form {
    margin-top: 50px;
}
