body {
    margin: 0;
    padding: 0;
    font: 16px/1.5 arial;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

a {
    color: dodgerblue;
}

nav {
    background-color: #555;
    padding: 10px 0;
}

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    nav li:first-child {
        font-size: 200%;
        margin: 0;
    }

    nav li {
        display: inline-block;
        margin-left: 20px;
    }

    nav a {
        color: white;
        text-decoration: none;
    }

        nav a:hover {
            color: #b4b4b4;
        }

article h2 a {
    color: black;
    text-decoration: none;
}

    article h2 a:hover {
        text-decoration: underline;
    }

footer {
    margin-top: 50px !important;
    border-top: 1px solid silver;
}
