footer {
    margin-top: 50px;
}

.delete-header {
    color: black;
}

.navbar-header h2 {
    padding-left: 15px;
}

article div h3 a {
    color: #999999;
}

article div h3 a:hover {
    color: black;
    text-decoration: none;
}

.cancel-link {
    padding-top: 10px;
}

.add-comment-form {
    margin-top: 50px;
}
