@import "colors.css";

body {
    margin: 0;
    padding: 0;
    font-family: Garamond, 'Baskerville Old Face', Georgia, 'Times New Roman', serif;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

a {
    color: var(--link-color);
}

nav {
    background-color: var(--nav-color);
    height: 60px;
    line-height: 60px;
}

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-family: Futura, Oswald, "Trebuchet MS", Arial, sans-serif;
    }


    nav li {
        float: left;
        margin-left: 20px;
        margin-top: 5px;
    }

        nav li:first-child {
            font-size: 200%;
            margin: 0;
        }

        nav li:last-child {
            float: right;
        }

            nav li:last-child:before {
                content: "🔒";
            }

    nav a {
        color: var(--content-color);
        text-decoration: none;
    }

        nav a:hover {
            color: var(--hover-color);
        }

article {
    border: 1px solid var(--line-color);
    padding: 25px;
    margin: 25px 0;
}

    article h2 a {
        color: black;
        text-decoration: none;
        font-family: Futura, Oswald, "Trebuchet MS", Arial, sans-serif;
    }

        article h2 a:hover {
            text-decoration: underline;
        }

footer {
    margin-top: 80px !important;
    border-top: 1px solid var(--line-color);
}

    footer p {
        color: var(--light-color);
    }

#date {
    font-size: 12px;
    color: var(--light-color);
}

#Comment-Date {
    color: var(--light-color);
    font: 12px/.5 arial;
}

#Comment-Title {
    font-size: 24px;
    line-height: 1.5;
}

#Comment-Body {
    font-size: 16px;
    line-height: 1.5;
}

.deletedContent {
    background-color: #fc88b6;
}
